body {
    font-family: Roboto;
}
.field {
    width: 100%;
    height: 100%;
    background: url(../images/soccer_field.jpg);
    background-size: 30%;
    position: absolute;
}
.field .field__box {
    width: 95%;
    height: 95%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    margin: 10px auto;
    position: relative;
}
.field .field__box .field__line {
    position: absolute;
    width: 100%;
    height: 2px;
}
.field .field__box .field__line--goal--top {
    width: 5%;
    height: 15%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-left: none;
    top: 42.5%;
}
.field .field__box .field__line--goal--bottom {
    width: 5%;
    height: 15%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-right: none;
    top: 42.5%;
    right: 0;
}
.field .field__box .field__line--penalty--top {
    width: 10%;
    height: 35%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-left: none;
    top: 32.5%;
}
.field .field__box .field__line--penalty--bottom {
    width: 10%;
    height: 35%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-right: none;
    top: 32.5%;
    right: 0;
}
.field .field__box .field__line--penalty--arc--top {
    width: 12%;
    height: 25%;
    border-radius: 0 60% 60% 0;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
    top: 37.5%;
}
.field .field__box .field__line--penalty--arc--bottom {
    width: 12%;
    height: 25%;
    border-radius: 60% 0 0 60%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
    top: 37.5%;
    right: 0;
}
.field .field__box .field__line--penalty--arc {
    top: 0;
    width: 25%;
    height: 12%;
    border-radius: 0 0 60% 60%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
    margin: 0 37.5%;
}
.field .field__box .field__line--mid {
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
.field .field__box .field__line--circle {
    top: 44%;
    width: 20%;
    height: 12%;
    margin: auto;
    border-radius: 70%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    left: 40%;
}
.field .field__box .player {
    position: absolute;
}
.field .field__box .player__item {
    width: 9%;
    height: 7%;
    background-color: #155117;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 0 0 30px #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.field .field__box .player__item--focus {
    border: 5px solid #ffffff;
    box-shadow: 0 0 30px #ffffff;
}
.field .field__box .player__item--shirt {
    bottom: 25%;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
}
.field .field__box .player__item--label {
    font-size: 0.7em;
    top: 75%;
    position: absolute;
    background-color: #ffffff;
    color: #155117;
    border-radius: 10%;
    padding: 5%;
}
.field .field__box .player__item--card {
    position: absolute;
    top: -200%;
    background-color: #ffffff;
    font-size: 0.7em;
    color: #155117;
    border-radius: 3%;
    box-shadow: 0 0 30px #000000;
    z-index: 2;
    display: none;
    flex-flow: column;
    /*&:after
     * content: ""
     * display: inline-block
     * //vertical-align: middle
     * width: 0
     * height: 0
     * border-left: 10px solid transparent
     * border-top: 10px solid blue
     * border-right: 10px solid transparent */
}
.field .field__box .player__item--card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40%;
    background-color: #155117;
    z-index: -1;
}
.field .field__box .player__item--card--name {
    color: #ffffff;
}
.field .field__box .player__item--card--photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.field .field__box .player__item--card--photo-bg {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 50%;
}
.field .field__box .player__item--card--info {
    display: flex;
}
.field .field__box .player__item--card--info--column {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}
.field .field__box .player__item--gk {
    top: 46.5%;
    left: 1%;
}
.field .field__box .player__item--right--fullback {
    bottom: 5%;
    left: 25%;
}
.field .field__box .player__item--right--wingback {
    bottom: 5%;
    left: 35%;
}
.field .field__box .player__item--right--centerback {
    bottom: 25%;
    left: 15%;
}
.field .field__box .player__item--center--centerback {
    top: 46.5%;
    left: 15%;
}
.field .field__box .player__item--left--centerback {
    top: 25%;
    left: 15%;
}
.field .field__box .player__item--left--fullback {
    top: 5%;
    left: 25%;
}
.field .field__box .player__item--left--wingback {
    top: 5%;
    left: 35%;
}
.field .field__box .player__item--right--center--midfielder {
    bottom: 30%;
    left: 42%;
}
.field .field__box .player__item--center--midfielder {
    bottom: 46.5%;
    left: 42%;
}
.field .field__box .player__item--left--center--midfielder {
    top: 30%;
    left: 42%;
}
.field .field__box .player__item--center--attacking--midfielder {
    top: 46.5%;
    right: 30%;
}
.field .field__box .player__item--right--wing--forward {
    bottom: 5%;
    right: 15%;
}
.field .field__box .player__item--left--wing--forward {
    top: 5%;
    right: 15%;
}
.field .field__box .player__item--center--forward {
    top: 46.5%;
    right: 8%;    
}

/*@media screen and (max-width: 992px) {*/
    /*.field {*/
        /*top: 10vh;*/
        /*left: 20vw;*/
        /*width: 60vw;*/
        /*height: 90vh;*/
    /*}*/
/*}*/
